
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lalezar&family=Monoton&display=swap');
body {
  margin: 0;
  padding: 0;
  
  background-image: url('./images/deathstarpic.jpg');
  
}
/* ./images/sw-bg.jpg */